<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Serik's Page</title>
    <!--
    Container for metadata (is not displayed)
    Title, Styles, Scripts, Meta and other
    -->
    <meta name="Serik">
</head>

<body>

    Welcome to My Page!!!
    <h1 align="center" style="color: #0505ea" >SP</h1>
    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

<a href="https://amazon.com">Amazon</a>

<table align="center">
    <tr >
        <td>Loop</td>
        <td>Loop</td>
        <td>Loop</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
</table>
    <!--FORMS-->
<label> User Name: </label>
<input type="text" name="username"><br>
<label> Password: </label>
<input type="password"><br>
<label> Enter your comments:</label>
<textarea name="comments"></textarea><br>
<label>Please select your fav subject:</label><br>
    <input type="radio" name="Spring" value="IOc" checked="checked"><label>IOC</label>
    <input type="radio" name="Spring" value="DI"><label>DI</label>
    <input type="radio" name="Spring" value="MVC"><label>MVC</label><br>

    <label>Please select some companies:</label><br>
    <input type="checkbox" name="company" value="Bank of America"><label>BOA</label>
    <input type="checkbox" name="company" value="SouthWest Airlines"><label>SWE</label>
    <input type="checkbox" name="company" value="Lowes"><label>Lowes</label><br>

    <label>Please select your car:</label><br>
   <select name="cars">
       <option value="honda">Honda</option>
       <option value="bmw">BMW</option>
       <option value="ford">Ford</option>
   </select>
    <form action="#" method="get">
    First name:<input type="text" name="first name"/>
    <br>
    Last name:<input type="text" name="last name"/>
    </form>
    <div>
        <h3>This is dev course</h3>
        <ul>
            <li>Spring </li>
            <li>Security</li>
        </ul>
    </div>
</body>

</html>